*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #a59d9d;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    padding-right: 30px;
    font-weight: bold;

}

.clock{

    font-size: 30px;
    font-weight: bold;
    background-color: #470f0f;
    padding: 20px 40px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}